<!DOCTYPE html>
<html data-ng-app="resume" lang="{{language}}" dir="ltr">
<head>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <title>Rivi&#232;re's resume</title>
  <link rel="shortcut icon" type="image/png" href="/source/image/favicon_32x32.png" />

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <!-- ng i18n -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate.min.js"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script> -->

  <link rel="stylesheet" href="/source/style/all.css" />
  <link rel="stylesheet" href="/source/style/main.css" />
</head>
<body data-ng-controller="data-parser">
<!--
div header
  img profile
  div about
    h1
    p
    p
div contact
  p email
  p phone
  p address
  p website
div skill
  h2
  ul
    li
div experience
  h2
  ul
    li
      p time
      p position
      p company
      ul
        li
div education
  h2
  ul
    li
      p time
      p degree
      p university
      p department
div award
  h2
  ul
    li
      p time
      p title
      p
div certification
  h2
  ul
    li
-->

  <div id="header">
    <img id="profile" src="{{header.profile.url}}" alt="{{header.profile.alt}}"/>
    <div id="about">
      <h1 data-ng-bind="header.about.name"></h1>
      <p id="position" data-ng-bind="header.about.position"></p>
      <p id="introduction" data-ng-bind="header.about.introduction"></p>
    </div>
  </div>
  <div id="contact">
    <p id="email"><i id="fas fa-envelope"></i> {{contact.email}}</p>
    <p id="phone"><i id="fas fa-phone-square"></i> {{contact.phone}}</p>
    <p id="address"><i id="fas fa-map-marker-alt"></i> {{contact.address}}</p>
    <p id="website"><i id="fas fa-globe-asia"></i> {{contact.website}}</p>
  </div>
  <div id="skill">
    <h2 data-ng-bind="skill.name"></h2>
    <ul>
      <li data-ng-repeat="data in skill.content" data-ng-bind="data"></li>
    </ul>
  </div>
  <div id="experience">
    <h2 data-ng-bind="experience.name"></h2>
    <ul>
      <li data-ng-repeat="data in experience.content">
        <p id="time" data-ng-bind="data.time"></p>
        <p id="position" data-ng-bind="data.position"></p>
        <p id="company" data-ng-bind="data.company"></p>
        <ul>
          <li data-ng-repeat="desc in data.describe" data-ng-bind="desc"></li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="education">
    <h2 data-ng-bind="education.name"></h2>
    <ul>
      <li data-ng-repeat="data in education.content">
        <p id="time" data-ng-bind="data.time"></p>
        <p id="degree" data-ng-bind="data.degree"></p>
        <p id="university" data-ng-bind="data.school"></p>
        <p id="department" data-ng-bind="data.department"></p>
      </li>
    </ul>
  </div>
  <div id="award">
    <h2 data-ng-bind="award.name"></h2>
    <ul>
      <li data-ng-repeat="data in award.content">
        <p id="time" data-ng-bind="data.time"></p>
        <p id="title" data-ng-bind="data.title"></p>
        <p data-ng-bind="data.discribe"></p>
      </li>
    </ul>
  </div>
  <div id="certification">
    <h2 data-ng-bind="certification.name"></h2>
    <ul>
      <li data-ng-repeat="data in certification.content" data-ng-bind="data"></li>
    </ul>
  </div>

  <script src="/source/script/angularjs_controller.js" charset="utf-8"></script>

  <!-- Chinese -->
  <!-- <div id="skill">
    <h1>技能</h1>
    <ul id="skill">
      <p>程式設計: VB, C/C++, JAVA; 韌體開發: 8051, Arduino, ARM</p>
      <p>電路板設計: 電路板佈線, 電路板蝕刻工藝, 數控雕銑, 光罩及化學蝕刻, 電路板修護</p>
      <p>網頁設計: HTML, CSS, Javascript, php; 資料庫應用: NoSQL, MySQL</p>
      <p>管理資訊系統: 組裝及修護硬體設備, 週邊介面卡; 作業系統: Windows, Linux, 設定網路服務</p>
      <p>任教科目: 程式設計, 基本電學, 電子學, 數位邏輯與專題競賽</p>
    </ul>
  </div> -->

  <!-- github: river911009.github.io
  easyeda:river801009
  google: sites.google.com/view/riverside-intro/ -->

  <!-- https://novoresume.com/resume-templates -->
  <!-- 教育程度、工作經歷以及工作技能
  依個人、申請職位的需求，列出求職目標 -->

  <!-- CV中，則會詳細的列舉出個人的經驗與相關技能，尤其是個人的學術背景，如：教學經驗、研究成果、獲獎紀錄、相關出版物⋯⋯等細節 -->

<!-- TODO:
      1. clean html,css tag and normalisation
      2. resume_en, zh ng i18n
      3. cv_en, zh ng i18n
      4. rwd thesis, project, about and homepage
      5. pwa
      6. performance
    -->


</body>
</html>
