/* Large screen */
@media screen and (max-width:1024px){
  *{
    margin: 0px;
    border: 0px;
    padding: 0px;
  }
  html{
    /* height: 100vh; */
    /* overflow: hidden; */
  }
  body{
    background-color: lavender;
    /* background-image: url('../image/background.jpg'); */
    scroll-snap-type: y mandatory;
    /* overflow: hidden; */
    height: 100vh;
  }
  nav{
    border: 1px red solid;
    position: absolute;
    top: 40vh;
    left:5vw;
  }
  section{
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    color: black;
    border: black 1px solid;
  }
  table,td{
    border:1px black solid;
    border-collapse: collapse;
  }
  table{
    width: 60vw;
    margin: auto;
  }
  .footer{
    background-color: grey;
    color: white;
  }
  footer{
    display: inline-block;
    position: fixed;
    top: 80vh;
    left: 0px;
    height:20vh;
    width: 100vw;
    padding: 5%;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 10%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}
