/* Large screen */
@media screen and (max-width:1024px){
  html{
    height: 100vh;
    overflow: hidden;
  }
  body{
    margin: 0px;
    background-color: lavender;
    /* background-image: url('../image/background.jpg'); */
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
  section{
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    color: black;
    border: black 1px solid;
  }
  table,th,td{
    border:1px black solid;
  }
}
