html{scroll-snap-type: y mandatory;}
body{
  background-image: url(../image/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
div{overflow: hidden;}
div.scroll_snap{scroll-snap-align: start;}

div.header{height: 100vh; width: 100vw; text-align: center;}
div.contact{height: 100vh;}
div.skill{height: 100vh;}
div.experience{height: 100vh;}
div.education{height: 100vh;}
div.award{height: 100vh;}
div.certification{height: 100vh;}

div.header img.profile{
  display: block;
  margin: 10vh auto;
  width: 50%;
  border-radius: 5px;
}
div.header div.about{
  font-size: medium;
}
p.position{
  font-style: italic;
  color: black;
}
div.header p.introduction{
  padding-top: 1em;
}