@page{
  size: A4 portrait;
  margin: 0.5cm;
  orphans:4;
  widows:2;
}
@media screen{
  p{
    margin: 0px;
  }
  div.header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "profile about about";
    background-color: beige;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  div.profile{
    grid-area: profile;
  }
  div.about{
    grid-area: about;
  }
  div.name{
    font-size: 24pt;
  }
}
