@page{
  size: A4 portrait;
  margin: 5mm;
  orphans:4;
  widows:2;
}
@media print{
  div#header img{
    width: 20vw;
  }
}

#contact,#skill,#experience,#education,#award,#certification{
  display: none;
}